@font-face {
  font-family: SlimJoe;
  src: url(Slim_Joe.otf);
}

body {
	margin: 0;
	color: #ffffff;
	font-family: SlimJoe;
}

.container {
	margin: 0;
}

.top {
	background-color: #e37222;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bottom {
	background-color: #dddddd;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}
